body{
margin:0;
padding:8% 10%;
background:#dedede !important;
}
iframe{
margin:0;
border:0;
height:100%;
width:100%;
}
h1{
margin:0;
}

h2{
text-align: center;
font-size: 30px !important;
font-weight: 501 !important;
}

.centerForm{
height: 100%;
margin: 0 auto;
padding: 0% 5%;
}
.container{
padding: 3%;
background: #fff;
max-width:50% !important;
border-radius: 10px;
box-shadow: gray 0px 5px 1pc;
}
.form-group{
margin:auto;
margin-bottom:20px !important;
}

.loader {
  border: 3px solid #e5e5e5;
  border-top: 3px solid #0f0f0f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
}