body{
margin:0;
padding:8% 10%;
background:#dedede !important;
}
iframe{
margin:0;
border:0;
height:100%;
width:100%;
}
h1{
margin:0;
}

h2{
text-align: center;
font-size: 30px !important;
font-weight: 501 !important;
}

.centerForm{
height: 100%;
margin: 0 auto;
padding: 0% 5%;
}
.container{
padding: 3%;
background: #fff;
max-width:50% !important;
border-radius: 10px;
box-shadow: gray 0px 5px 1pc;
}
.form-group{
margin:auto;
margin-bottom:20px !important;
}

.loader {
  border: 3px solid #e5e5e5;
  border-top: 3px solid #0f0f0f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.postArea{
height: 100%;
background: #e4e4e4;
width:calc(100% - 250px);
padding-left: 250px;
overflow: auto;
padding-bottom: 40px;
overflow-x:hidden;
}

.posts{
padding: 20px;
background: white;
border-radius: 5px;
width: 600px;
height: 130px;
display: grid;
grid-template-rows: 50px 60px;
margin: 0px 50px;
  margin-top: 0px;
margin-top: 0px;
cursor: pointer;
margin-top: 30px;
}

.posts h3{
margin:0;
}

.posts p{
margin:0;
}
.details{
display: flex;
gap: 20px;
}

.details p{
padding:0;
margin:0;
}


.postContent{
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}