<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>reddit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSession</display-name>
    <servlet-name>CheckSession</servlet-name>
    <servlet-class>CheckSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSession</servlet-name>
    <url-pattern>/checkSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePost</display-name>
    <servlet-name>CreatePost</servlet-name>
    <servlet-class>CreatePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePost</servlet-name>
    <url-pattern>/createPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConversations</display-name>
    <servlet-name>GetConversations</servlet-name>
    <servlet-class>GetConversations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConversations</servlet-name>
    <url-pattern>/getConversations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePost</display-name>
    <servlet-name>DeletePost</servlet-name>
    <servlet-class>DeletePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePost</servlet-name>
    <url-pattern>/deletePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPost</display-name>
    <servlet-name>EditPost</servlet-name>
    <servlet-class>EditPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPost</servlet-name>
    <url-pattern>/editPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostLikes</display-name>
    <servlet-name>PostLikes</servlet-name>
    <servlet-class>PostLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostLikes</servlet-name>
    <url-pattern>/postLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentLikes</display-name>
    <servlet-name>CommentLikes</servlet-name>
    <servlet-class>CommentLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentLikes</servlet-name>
    <url-pattern>/commentLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostComments</display-name>
    <servlet-name>PostComments</servlet-name>
    <servlet-class>PostComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostComments</servlet-name>
    <url-pattern>/postComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChildComments</display-name>
    <servlet-name>ChildComments</servlet-name>
    <servlet-class>ChildComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChildComments</servlet-name>
    <url-pattern>/childComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateConversations</display-name>
    <servlet-name>CreateConversations</servlet-name>
    <servlet-class>CreateConversations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateConversations</servlet-name>
    <url-pattern>/createConversations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllPosts</display-name>
    <servlet-name>GetAllPosts</servlet-name>
    <servlet-class>GetAllPosts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPosts</servlet-name>
    <url-pattern>/getAllPosts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyPosts</display-name>
    <servlet-name>GetMyPosts</servlet-name>
    <servlet-class>GetMyPosts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyPosts</servlet-name>
    <url-pattern>/getMyPosts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLikes</display-name>
    <servlet-name>GetLikes</servlet-name>
    <servlet-class>GetLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLikes</servlet-name>
    <url-pattern>/getLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComments</display-name>
    <servlet-name>GetComments</servlet-name>
    <servlet-class>GetComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComments</servlet-name>
    <url-pattern>/getComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditComment</display-name>
    <servlet-name>EditComment</servlet-name>
    <servlet-class>EditComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditComment</servlet-name>
    <url-pattern>/editComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteComment</display-name>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/deleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLike</display-name>
    <servlet-name>EditLike</servlet-name>
    <servlet-class>EditLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLike</servlet-name>
    <url-pattern>/editLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMessages</display-name>
    <servlet-name>GetMessages</servlet-name>
    <servlet-class>GetMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessages</servlet-name>
    <url-pattern>/getMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostMessage</display-name>
    <servlet-name>PostMessage</servlet-name>
    <servlet-class>PostMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMessage</servlet-name>
    <url-pattern>/postMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessage</display-name>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>DeleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/deleteMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPost</display-name>
    <servlet-name>GetPost</servlet-name>
    <servlet-class>GetPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPost</servlet-name>
    <url-pattern>/getPost</url-pattern>
  </servlet-mapping>
</web-app>